* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior-y: none !important;
  overscroll-behavior-x: none !important;
}

.title {
  border: none !important;
  box-shadow: none !important;
  margin-top: 380px !important;
  color: #fff;
  z-index: inherit;
}

.section-one {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: black;
}

.title-buttons {
  width: 107px !important;
  background: #00162b !important;
  color: coral !important;
}

.title-buttons:hover {
  opacity: 0.9 !important;
}

.card-buttons {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center;
}

.card-btn {
  width: 145px !important;
}

.title-container {
  z-index: -1 !important;
}

.section-two {
  height: 100vh;
  width: 100%;
  /* margin-top: 20px !important; */
  background-color: #00162b !important;
  position: absolute;
  z-index: 2 !important;
}

.arrows {
  margin-left: 50px !important;
  margin-right: 50px !important;
  cursor: pointer !important;
  color: coral !important;
  opacity: 0.4 !important;
  transition: opacity 0.4s ease-out !important;
}

.arrows:hover {
  opacity: 0.9 !important;
}

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: #00162b;
  padding: 0 !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  border: #00162b solid 1px;
}
.info {
  margin-top: 0px !important;
  width: 100%;
  height: 100vh;
  background-color: black;
  border: 1px solid black;
}

.bkg {
  background-image: url(../img/bkg.png);
  background-size: 100% 100%;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 2;
}

.branch {
  background-image: url(../img/branch.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 3;
}

.skySun {
  background-image: url(../img/skySun.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
}

.second {
  background-image: url(../img/second.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
}
.third {
  background-image: url(../img/third.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
}

.fourth {
  background-image: url(../img/fourth.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
}
.fifth {
  background-image: url(../img/fifth.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
}
.sixth {
  background-image: url(../img/sixth.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
}

.project-header-container {
  margin-top: 150px !important;
  display: flex !important;
  justify-content: space-evenly !important;
  text-align: center !important;
}

.project-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.project-img {
  height: 174px !important;
}

.right-arrow-btn {
  margin-top: 10px !important;
  float: right !important;
}
.left-arrow-btn {
  margin-top: 10px !important;
  float: left !important;
}

.carousel-index {
  margin-top: 10px !important;
}

.carousel-image {
  width: 900px !important;
  height: 450px !important;
}

.tech-skills {
  margin-top: 50px !important;
  /* border: coral solid 1px !important; */
}

.skill-image {
  height: 60px !important;
  width: 60px !important;
  margin: auto !important;
}

.cards {
  margin: 10px !important;
}

.card-group {
  display: flex !important;
  margin-top: -0.875em !important;
  margin-right: -0.5em !important;
  margin-bottom: -0.875em !important;
  margin-left: -0.5em !important;
  flex-wrap: wrap !important;
}

.overlay {
  position: absolute !important;
  z-index: 1 !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 174px !important;
  width: 100% !important;
  opacity: 0 !important;
  transition: 0.4s ease-in-out !important;
  background-color: #008cba !important;
}


.cards:hover .overlay {
  opacity: 1 !important;
  cursor: pointer !important;
}

div h1 {
  color: #fff;
  text-decoration: underline !important;
}
