* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior-y: none !important;
  overscroll-behavior-x: none !important;
}

body,
html {
  position: relative;
}

.section-one {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #38c5ee;
  width: 100%;
}
.title {
  border: none !important;
  box-shadow: none !important;
  margin-top: 380px !important;
  color: #fff;
}

.title-icons {
  color: #00162b;
  transition: opacity 0.6s ease !important;
  cursor: pointer !important;
}

.title-icons:hover {
  opacity: 0.4 !important;
}

.title-buttons {
  width: 107px !important;
  background: #00162b !important;
  color: white !important;
  cursor: pointer !important;
}

.title-buttons:hover {
  opacity: 0.9 !important;
  color: white !important;
  cursor: pointer !important;
}

.card-buttons {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center;
}

.card-btn {
  width: 145px !important;
}

.only-ghub {
  width: 100% !important;
}

.title-container {
  z-index: -1 !important;
}

.section-two {
  height: 100% !important;
  width: 100% !important;
  margin-top: 0 !important;
  position: absolute;
  background-color: #00162b;
  z-index: 2 !important;
  -webkit-transform: translate3d(0, 0, 0);
}

.arrows {
  margin-left: 10px !important;
  margin-right: 10px !important;
  cursor: pointer !important;
  color: grey !important;
  opacity: 0.4 !important;
  transition: opacity 0.4s ease-out !important;
}

.arrows:hover {
  opacity: 0.9 !important;
}

.projects {
  min-width: 100%;
  min-height: 100vh;
  background-color: #00162b;
  padding: 0 !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  border: solid 1px #00162b !important;
}
.info {
  margin-top: 0px !important;
  width: 100%;
  min-height: 100vh !important;
  background-image: linear-gradient(
    to bottom,
    #00162b,
    #100f21,
    #100713,
    #0e030a,
    #000000
  ) !important;
  border-top: #00162b 1px solid !important;
  border-bottom: #000000 1px solid !important;
}
@media screen and (max-width: 1200px) {
  .info {
    height: auto !important;
  }
  .projects {
    height: auto !important;
  }
}

.bkg {
  background-image: url(../img/bkg.png);
  background-size: 100% 100%;
  width: 100vw;
  position: fixed;
  height: 100%;
}

.skySun {
  background-image: url(../img/skySun.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
}

.second {
  background-image: url(../img/second.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
}
.third {
  background-image: url(../img/third.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
}

.fourth {
  background-image: url(../img/fourth.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
}
.fifth {
  background-image: url(../img/fifth.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
}
.sixth {
  background-image: url(../img/sixth.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
}

.project-header-container {
  padding: 0 !important;
  margin-top: 150px !important;
  display: flex !important;
  justify-content: space-evenly !important;
  text-align: center !important;
}

.project-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.project-img {
  height: 174px !important;
  border-radius: 2%;
}

.right-arrow-btn {
  margin-top: 10px !important;
  float: right !important;
}
.left-arrow-btn {
  margin-top: 10px !important;
  float: left !important;
}

.carousel-index {
  margin-top: 10px !important;
}

.carousel-image {
  border: black solid 1px !important;
  border-radius: 25px !important;
  height: 500px !important;
}

@media screen and (max-width: 600px) {
  .carousel-image {
    height: 300px !important;
  }
  .contact-me {
    margin-top: 0px !important;
  }
}

.tech-skills {
  margin-top: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.contact-me {
  margin-top: -50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.skill-image {
  height: 60px !important;
  width: 60px !important;
  margin: auto !important;
}

@media screen and (max-width: 499px) {
  .title {
    margin-top: 200px !important;
  }
 
}

.cards {
  margin: 10px !important;
  cursor: pointer !important;
}

.card-group {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  flex-wrap: wrap !important;
  max-width: 1200px !important;
}

.overlay {
  position: absolute !important;
  z-index: 1 !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 174px !important;
  width: 100% !important;
  opacity: 0 !important;
  transition: 0.4s ease-in-out !important;
  background-color: #008cba !important;
  cursor: pointer !important;
}

.cards:hover .overlay {
  opacity: 0.9 !important;
}

.footer-container {
  background-color: #000000 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border: black solid 1px;
}

.footer-icons {
  border: none !important;
  box-shadow: none !important;
  color: white !important;
  opacity: 0.6 !important;
}

.social-container {
  margin-top: 2% !important;
}

.footer-icons:hover {
  opacity: 1 !important;
}

.links:hover {
  text-decoration: underline !important;
}

div h1 {
  color: #fff;
  text-decoration: underline !important;
}
